.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #646464;
}
.image {
  width: 80vw;
  flex: 0;
}
.detailsBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
}
.details,
.container {
  margin: 20px 9vw;
}
.heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.overview,
.list {
  color: #d9dde1;
}

.genresContainer {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.btn,
.list {
  margin-left: 15px;
  cursor: pointer;
  padding: 14px 20px;
  background-color: transparent;
  font-weight: 600;
  color: rgb(217, 221, 225);
  border: 1px solid #5e5e5e;
  transition: 500ms ease-in-out;
  transition-property: border-color, color, box-shadow;
  margin-bottom: 20px;
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 0px 7px #ffa842;
  color: #ffa842;
  border-color: #ffa842;
}

.list {
  max-width: 150px;
  font-weight: normal;
  font-size: 0.8rem;
  list-style-type: none;
  margin: 0;
  cursor: default;
}

@media screen and (min-width: 800px) {
  .container {
    margin: auto 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
  }
  .image {
    width: 30%;
  }
  .details {
    max-width: 60vw;
    gap: 30px;
    height: 100%;
  }
  .detailsBox {
    margin-left: 50px;
  }
  .heading {
    margin-bottom: 20px;
  }
}
