.review {
  list-style-type: none;
  padding-top: 30px;
}
.review:not(:last-of-type) {
  padding-bottom: 30px;
  border-bottom: 1px solid #646464;
}

.heading {
  margin-bottom: 20px;
  color: #d9dde1;
}

.mainHeading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text {
  font-size: 0.9rem;
  color: #cbcfd2;
  text-align: justify;
}

.container {
  padding: 0;
}

.note {
  font-size: 0.7rem;
  margin-top: 35px;
  color: #9c9d9e;
}
